HuatongWebService/HuatongWebService/Web References/WebReference/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Aumex.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Aumex.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Aumex.org/">
      <s:element name="SendProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="products" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendProductResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Connection">
        <s:complexType />
      </s:element>
      <s:element name="ConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xxcc_work_num_f">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_ORG_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_WORK_NUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_PC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LINE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xxcc_work_num_fResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xxcc_work_num_fResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPartnum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vlot" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPartnumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPartnumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fun">
        <s:complexType />
      </s:element>
      <s:element name="funResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="funResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XXCC_LOT_PC_F">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_ORG_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_PC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LINE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LINE_NUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_CHK_FLAG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XXCC_LOT_PC_FResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XXCC_LOT_PC_FResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_CM_WIP_PROCESS_LINE_HISTORY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_ORG_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_NUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_PC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LINE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LINE_NUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LOT_TYPE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_CM_WIP_PROCESS_LINE_HISTORYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert_CM_WIP_PROCESS_LINE_HISTORYResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_cc_wip_lot_bc_history">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P_ORG_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_BC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LINE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LINE_NUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="P_LOT_TYPE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_cc_wip_lot_bc_historyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert_cc_wip_lot_bc_historyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendProductSoapIn">
    <wsdl:part name="parameters" element="tns:SendProduct" />
  </wsdl:message>
  <wsdl:message name="SendProductSoapOut">
    <wsdl:part name="parameters" element="tns:SendProductResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:Connection" />
  </wsdl:message>
  <wsdl:message name="ConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="xxcc_work_num_fSoapIn">
    <wsdl:part name="parameters" element="tns:xxcc_work_num_f" />
  </wsdl:message>
  <wsdl:message name="xxcc_work_num_fSoapOut">
    <wsdl:part name="parameters" element="tns:xxcc_work_num_fResponse" />
  </wsdl:message>
  <wsdl:message name="getPartnumSoapIn">
    <wsdl:part name="parameters" element="tns:getPartnum" />
  </wsdl:message>
  <wsdl:message name="getPartnumSoapOut">
    <wsdl:part name="parameters" element="tns:getPartnumResponse" />
  </wsdl:message>
  <wsdl:message name="funSoapIn">
    <wsdl:part name="parameters" element="tns:fun" />
  </wsdl:message>
  <wsdl:message name="funSoapOut">
    <wsdl:part name="parameters" element="tns:funResponse" />
  </wsdl:message>
  <wsdl:message name="XXCC_LOT_PC_FSoapIn">
    <wsdl:part name="parameters" element="tns:XXCC_LOT_PC_F" />
  </wsdl:message>
  <wsdl:message name="XXCC_LOT_PC_FSoapOut">
    <wsdl:part name="parameters" element="tns:XXCC_LOT_PC_FResponse" />
  </wsdl:message>
  <wsdl:message name="insert_CM_WIP_PROCESS_LINE_HISTORYSoapIn">
    <wsdl:part name="parameters" element="tns:insert_CM_WIP_PROCESS_LINE_HISTORY" />
  </wsdl:message>
  <wsdl:message name="insert_CM_WIP_PROCESS_LINE_HISTORYSoapOut">
    <wsdl:part name="parameters" element="tns:insert_CM_WIP_PROCESS_LINE_HISTORYResponse" />
  </wsdl:message>
  <wsdl:message name="insert_cc_wip_lot_bc_historySoapIn">
    <wsdl:part name="parameters" element="tns:insert_cc_wip_lot_bc_history" />
  </wsdl:message>
  <wsdl:message name="insert_cc_wip_lot_bc_historySoapOut">
    <wsdl:part name="parameters" element="tns:insert_cc_wip_lot_bc_historyResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="SendProduct">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送产品编号</wsdl:documentation>
      <wsdl:input message="tns:SendProductSoapIn" />
      <wsdl:output message="tns:SendProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检验连接</wsdl:documentation>
      <wsdl:input message="tns:ConnectionSoapIn" />
      <wsdl:output message="tns:ConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="xxcc_work_num_f">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">檢測用戶輸入的員工工號是否是该厂区</wsdl:documentation>
      <wsdl:input message="tns:xxcc_work_num_fSoapIn" />
      <wsdl:output message="tns:xxcc_work_num_fSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPartnum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">檢測產品批號是否正確，並返回料號</wsdl:documentation>
      <wsdl:input message="tns:getPartnumSoapIn" />
      <wsdl:output message="tns:getPartnumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fun">
      <wsdl:input message="tns:funSoapIn" />
      <wsdl:output message="tns:funSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XXCC_LOT_PC_F">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">检查批号当前批号是否属于该制程</wsdl:documentation>
      <wsdl:input message="tns:XXCC_LOT_PC_FSoapIn" />
      <wsdl:output message="tns:XXCC_LOT_PC_FSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert_CM_WIP_PROCESS_LINE_HISTORY">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">傳送廠號，線，線別，製程，工號，批號，料號</wsdl:documentation>
      <wsdl:input message="tns:insert_CM_WIP_PROCESS_LINE_HISTORYSoapIn" />
      <wsdl:output message="tns:insert_CM_WIP_PROCESS_LINE_HISTORYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert_cc_wip_lot_bc_history">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">發送Barcode數據</wsdl:documentation>
      <wsdl:input message="tns:insert_cc_wip_lot_bc_historySoapIn" />
      <wsdl:output message="tns:insert_cc_wip_lot_bc_historySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendProduct">
      <soap:operation soapAction="http://Aumex.org/SendProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <soap:operation soapAction="http://Aumex.org/Connection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xxcc_work_num_f">
      <soap:operation soapAction="http://Aumex.org/xxcc_work_num_f" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartnum">
      <soap:operation soapAction="http://Aumex.org/getPartnum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun">
      <soap:operation soapAction="http://Aumex.org/fun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XXCC_LOT_PC_F">
      <soap:operation soapAction="http://Aumex.org/XXCC_LOT_PC_F" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_CM_WIP_PROCESS_LINE_HISTORY">
      <soap:operation soapAction="http://Aumex.org/insert_CM_WIP_PROCESS_LINE_HISTORY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_cc_wip_lot_bc_history">
      <soap:operation soapAction="http://Aumex.org/insert_cc_wip_lot_bc_history" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendProduct">
      <soap12:operation soapAction="http://Aumex.org/SendProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <soap12:operation soapAction="http://Aumex.org/Connection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xxcc_work_num_f">
      <soap12:operation soapAction="http://Aumex.org/xxcc_work_num_f" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartnum">
      <soap12:operation soapAction="http://Aumex.org/getPartnum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fun">
      <soap12:operation soapAction="http://Aumex.org/fun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XXCC_LOT_PC_F">
      <soap12:operation soapAction="http://Aumex.org/XXCC_LOT_PC_F" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_CM_WIP_PROCESS_LINE_HISTORY">
      <soap12:operation soapAction="http://Aumex.org/insert_CM_WIP_PROCESS_LINE_HISTORY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_cc_wip_lot_bc_history">
      <soap12:operation soapAction="http://Aumex.org/insert_cc_wip_lot_bc_history" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://127.0.0.1:8008/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://127.0.0.1:8008/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>